.#*
*#
*~
/build
/code
.classpath
.project
.settings
.metadata
bin
build
lib/
target
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
*.iml
*.ipr
*.iws
.idea
*.jar
.DS_Store
*/test-output/
