<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.ustc.server.mapper.ClassesMapper">
	
	<resultMap id="BaseResultMap" type="edu.ustc.server.pojo.Classes">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="grade" property="grade" jdbcType="VARCHAR" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, grade
	</sql>
	
	<sql id="Base_Query_Condition">
		<where>
			<if test="id != null">
				id = #{id,jdbcType=INTEGER}
			</if>
			<if test="grade != null">
				AND grade = #{grade,jdbcType=VARCHAR}
			</if>
		</where>
	</sql>
	
	<insert id="insert" parameterType="edu.ustc.server.pojo.Classes" useGeneratedKeys="true" keyProperty="id">
		insert into classes (id, grade)
		values (#{id,jdbcType=INTEGER}, #{grade,jdbcType=VARCHAR})
	</insert>
	
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from classes
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	<select id="list" resultMap="BaseResultMap" parameterType="hashmap">
		select
		<include refid="Base_Column_List" />
		from classes
		<include refid="Base_Query_Condition" />
	</select>
	
	<update id="update" parameterType="edu.ustc.server.pojo.Classes">
		update classes
		<set>
			<if test="grade != null">
				grade = #{grade,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	
	<delete id="delete" parameterType="java.lang.Integer">
		delete from classes
		where id = #{id,jdbcType=INTEGER}
	</delete>
</mapper>